body{
    font-family: 'Noto Sans', sans-serif;
    display: grid;
    /* grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                         "nav main aside"
                         "nav footer aside"; */
}
header{
    background:black;
    color: white;
    grid-area:header;
}
footer{
    background:black;
    color: white;
    grid-area:footer;
}
main{
    grid-area:main;
}
/* .griddiv{
    display:grid;
    grid-template-columns: 9em 9em 5em 10em;
    grid-gap: 0.5em; 
} */
.title{
    font-size: large;
    font-weight: bold;
}
input{
    grid-column:3;
    width:5em;
}
p{
    margin-top: 0em;
    margin-bottom: 0em;
}
nav{
    grid-area:nav;
}
aside{
    grid-area:aside;
}
main > p{
    margin-top: 1em;
    margin-bottom: 1em;
}